@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    #af67e9,
    #9f67e9,
    #8d66e9,
    #7a66e8,
    #6565e7
  );
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

#container {
  width: 95%;
  height: 100%;
  margin: 150px auto;
  background: #ffffff;
  border-radius: 1rem;
  padding: 1em;
}

.mobile-img-container {
  position: relative;
}

.illustration-mobile {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 15rem;
  height: auto;
  filter: drop-shadow(1px 20px 2px rgba(26, 26, 26, 0.149));
}

.desktop-img-container {
  display: none;
}

.arrow.flip {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.content {
  padding-top: 7em;
}

.faq-header {
  font-size: 2rem;
  text-align: center;
}

section {
  margin: 2em 0 2em;
}

details {
  margin: 1em 0;
  cursor: pointer;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-heading {
  font-size: 1rem;
  width: 100%;
}

.remove-hover:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.accordion-heading.show {
  font-weight: 700;
  color: black;
}

.accordion-paragraph {
  font-size: 0.9rem;
  padding: 0.75em 0.25em;
  width: 90%;
  color: hsl(240, 6%, 50%);
}

hr {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  color: rgba(210, 19, 19, 0.965);
}

@media only screen and (min-width: 425px) and (max-width: 600px) {
  #container {
    width: 75%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  #container {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #container {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  #container {
    width: 90%;
    max-width: 56rem;
    position: relative;
    display: flex;
    margin: 6rem auto;
    padding: 2rem 1rem 2rem 0;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 45%;
    background-position: -13% center;
  }

  .box-illustration {
    display: block;
    position: absolute;
    z-index: 1;
    top: 57%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .desktop-img-container {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .mobile-img-container {
    display: none;
  }

  .illustration-desktop {
    position: relative;
    top: auto;
    left: auto;
    max-width: 25rem;
    transform: translateX(-4rem);
  }

  .content {
    flex: 1;
    width: 50%;
    padding: 0 1em 1em 1em;
    margin: 2em 3em 2em 0;
  }

  .faq-header {
    text-align: left;
  }
}
